{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-pseudo-class-no-unknown": [ true, {
      "ignorePseudoClasses": [ "global" ]
    } ],
    "selector-class-pattern": null,
    "property-no-unknown": [ true, {
      "ignoreProperties": [ "composes" ]
    } ]
  }
}
